/* ====================
   Base
   ==================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
} 


/* ====================
   Layout
   ==================== */

.container {
  width: min(100% - 3rem, 900px);
  margin-inline: auto;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: blueviolet;
}

main {
  background-color: black;
}

.site-header {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
}

.search-section {
  position: relative;
}

.search-bar {
  background-color: chartreuse;
  position: absolute;
  width: 100%;
  top: -11px;  
  display: flex;
}

.search-input {
  flex: 1;
}

.movie-icon-div,
.watchlist-icon-div {
  background-color: brown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.show-card {
  background-color: blueviolet;
  color: #fff;
}

footer {
  background-color: #313131;
  color: #fff;
}

.footer-container  {
  display: flex;
  flex-direction: column;
  padding: 2em 0;

}






.film-icon {
  width: 50px;
}

.tmdb-logo {
  width: 40px;
  opacity: 0.7;
}

button.action-btn:disabled {
  opacity: 0.6;
    cursor: not-allowed;
}